@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(var(--color-fondo));
}

:root {
    --color-primario: 27, 79, 114;
    --color-oscuro: 13, 36, 70;
    --color-texto: 52, 73, 94;
    --color-acento-azul: 2, 128, 144;
    --color-acento-verde: 82, 183, 136;
    --color-claro: 169, 204, 227;
    --color-fondo: 244, 246, 247;
    --color-fondo-oscuro: 222, 228, 230;
    --color-blanco: 243, 243, 243;
}