@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-fondo);
}

:root {
    --color-primario: #1B4F72;
    --color-oscuro: #0D2646;
    --color-acento-aazul: #028090;
    --color-acento-verde: #52B788;
    --color-claro: #A9CCE3;
    --color-fondo: #F4F6F7;
}