@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* -------- NAVBAR SECTION ---------- */
.navbar {
    background-color: rgb(var(--color-oscuro));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 8.5vh;
    container-name: navbar;
    container-type: normal;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    /* position: fixed;
    width: 100%;
    background: rgba(13, 38, 70, 0.6); /* tu color oscuro */
    /* backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.08); */ 
}

.navbar__logo {
    height: 100%;
    aspect-ratio: 2 /1;
    object-fit: cover;
    width: auto;
}

.nav__list {
    height: 8.5vh;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-self: end;
}

.nav__list_item {
    cursor: pointer;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-bottom: 3px solid transparent;
    background: linear-gradient(to top, rgba(var(--color-acento-azul), 0.4), transparent) no-repeat;
    background-size: 100% 0%;
    background-position: bottom;
    transition: background-size 0.4s ease, border-bottom 0.3s;
}

.nav__list_item:not(:has(.nav__user_info)):hover {
    background-size: 100% 37%;
    border-bottom: 3px solid rgb(var(--color-acento-azul), 0.4);
}

.nav__link {
    text-decoration: none;
    color: rgb(var(--color-blanco));
    font-size: 1.2rem;
}

.navbar__toggle {
    display: none;
}

.nav__user_info  {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 15px;
    border-radius: 40px;
    background-color: rgb(var(--color-acento-azul));
    outline: none;
    border: none;
    box-shadow: 6px 8px 10px #0006;
    transition: opacity 0.3s ease-in-out;
}

.nav__user_info:hover {
    opacity: 70%;
    border-bottom: none;
}
.nav__img_perfil {
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    object-fit: contain;
}

.nav__username {
    font-size: 1.2rem;
    color: rgb(var(--color-blanco));
    font-family: inherit;
    font-weight: 400;
}

/* -------- NAVBAR ENDS ---------- */

/* -------- DROPDOWN SECTION ---------- */

.nav__user_dropdown {
    display: none;
}
/* -------- DROPDOWN ENDS ---------- */

/* -------- HERO SECTION ---------- */

#hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

#hero__canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.hero__wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title, .hero__subtitle, .hero__button {
    color: rgb(var(--color-blanco));
    text-align: center;
}

.hero__title {
    font-size: 4rem;
    text-wrap: balance;
    font-size: clamp(2.5rem, 5vw, 4rem);
    max-width: 700px;
    line-height: 1.1;
    font-weight: 400;
}

.hero__title--segunda-linea {
    font-weight: 800;
}

.hero__title span {
    color: rgb(var(--color-acento-verde));
}

.hero__subtitle {
    font-size: 1em;
    text-wrap: balance;
    /* width: 56%; */
    max-width: 500px;
    opacity: 0.85;
    margin-top: 1rem;
}

.hero__button {
    margin-top: 25px;
    text-decoration: none;
    padding: 13px 20px;
    outline: 2px solid rgb(var(--color-blanco));
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s;
}

.hero__button:active {
    transform: scale(0.95);
}

.hero__button:hover {
    transform: translateY(-2px);
    background-color: rgba(255,255,255,0.1);
}
/* -------- HERO ENDS ---------- */

/* -------- REUTILIZABLE SECTION ---------- */

.section {
    height: 100vh;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 10px;
}

.section-header__intro {
    color: rgb(var(--color-acento-azul));
    font-size: 1.2em;
}

.section-header__title {
    font-size: 2.4em;
    color: rgb(var(--color-oscuro));
}

.section-header__title > span {
    color: rgb(var(--color-acento-azul));
}

.section-header__description {
    font-size: 0.9em;
    color: rgb(var(--color-texto));
}


/* -------- REUTILIZABLE ENDS ---------- */


/* -------- SOLUTION SECTION ---------- */

/* #solution {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    padding: 50px;
} */

.solution__content {
    flex-grow: 0.2;
    display: grid;
    gap: 20px;
    max-height: 90vh;
    width: 100%;
    grid-template-columns: 1.2fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.solution__video {
    width: 90%;
    aspect-ratio: 1.2 / 1;
    background-color: transparent;
    outline: none;
    border: none;
    object-fit: cover;
    transform: scale(1.01);
}

.solution__info {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.solution-card {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 20px;
    border: 1px solid rgb(var(--color-fondo-oscuro));
}

.solution-card__title {
    color: rgb(var(--color-acento-azul));
    font-size: 1.7em;
    font-weight: 600;
}

.solution-card__description {
    color: rgb(var(--color-texto));
}

.solution-card--conclusion {
    background-color: rgba(var(--color-acento-verde), 0.1);
    border: 1px solid rgb(var(--color-acento-verde));
}

.solution-card--conclusion > .solution-card__title {
    color: color-mix(in srgb, rgb(var(--color-acento-verde)) 60%, black);
}

/* -------- SOLUTION ENDS ---------- */



/* -------- BENEFITS SECTION ---------- */

/* #benefits {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    padding: 50px;
} */

.section--dark {
    background-color: rgb(var(--color-fondo-oscuro));
    border-bottom: 1px solid color-mix(in srgb, rgb(var(--color-fondo-oscuro)) 90%, black);
    border-top: 1px solid color-mix(in srgb, rgb(var(--color-fondo-oscuro)) 90%, black);
}
.benefits-slider {
    width: 100%;
    height: auto;
}

.benefits-slider__button {
    display: none;
}

.benefits-slider__viewport {
    height: 100%;
}

.benefits-slider__track {
    display: grid;
    height: 100%;
    width: 95%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: stretch;
    margin: auto;
}

.benefits-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 8px;
    border-radius: 20px;
    background-color: rgb(var(--color-fondo));
    height: auto;
    box-shadow: 0 0 10px #0004;
    transition: transform 0.3s;
}

.benefits-card:hover {
    transform: translateY(-10px);
}   

.benefits-card__img {
    height: 80%;
    width: auto;
    aspect-ratio: 1;
    object-fit: contain;
}

.benefits-card__img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: aliceblue;
    border-radius: 20px 20px 0 0;
}

.benefits-slider__track .benefits-card:nth-child(2n) .benefits-card__img_wrapper {
    background-image: linear-gradient(135deg, rgb(var(--color-oscuro)), rgb(var(--color-acento-azul)));
}

.benefits-slider__track .benefits-card:nth-child(2n+1) .benefits-card__img_wrapper {
    background-image: linear-gradient(135deg, rgb(var(--color-acento-azul)), rgb(var(--color-acento-verde)));
}

/* .benefits-slider__track .benefits-card:nth-child(3) .benefits-card__img_wrapper {
    background-image: linear-gradient(135deg, rgb(var(--color-texto)), rgb(var(--color-acento-azul)));
}

.benefits-slider__track .benefits-card:nth-child(4) .benefits-card__img_wrapper {
    background-image: linear-gradient(135deg, rgb(var(--color-acento-azul)), rgb(var(--color-oscuro)));
} */

.benefits-card__info {
    padding: 8px 12px;
    text-align: center;
}

.benefits-card__intro {
    color: rgb(var(--color-acento-verde));
    font-size: 0.9em;
}

.benefits-card__title {
    color: rgb(var(--color-oscuro));
    font-size: 1.27em;
}

.benefits-card__description {
    margin-top: 15px;
}


/* -------- BENEFITS ENDS ---------- */


/* -------- CHARACTERISTICS SECTION ---------- */

/* #characteristics {
    
} */

.characteristics__tabs {
    width: 100%;
    border-bottom: 1.5px solid rgb(var(--color-gris-claro));
}

.characteristics__tabs-list {
    display: flex;
    align-items: start;
    list-style: none;
}

.characteristics__tabs-item {
    padding: 10px 40px;
    cursor: pointer;
    transition: border 0.3s, color 0.3s;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    transition: color 0.3s;
}

.characteristics__tabs-item--active {
    color: rgb(var(--color-acento-azul))
}

.characteristics__tabs-item::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    background-color: rgb(var(--color-acento-azul));
    transition: transform 0.4s;
}

.characteristics__tabs-item--active::before {
    color: rgb(var(--color-acento-azul));
    transform: scaleX(1);
}

.characteristics__content {
    flex-grow: 0.9;
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: 1.2fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.characteristics__img {
    background-color: rgb(var(--color-oscuro));
    color: rgb(var(--color-blanco));
    width: 90%;
    aspect-ratio: 1.2 / 1;
}

.characteristics__info {
    height: 90%;
    display: flex;
}

.characteristics__panel {
    display: none;
}

.characteristics__panel--active {
    display: flex;
}

.characteristics__panel-list {
    color: rgb(var(--color-acento-azul));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.characteristics__panel-item > .characteristics__subtitle {
    color: rgb(var(--color-acento-azul));
    font-size: 1.4em;
}

.characteristics__panel-item > .characteristics__description {
    font-size: 1em;
}

.characteristics__panel-item--diferenciador {
    list-style: none;
    color: rgb(var(--color-acento-verde));
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(var(--color-acento-verde), 0.1);
    border: 0.5px solid rgb(var(--color-acento-verde));
}
/* -------- CHARACTERISTICS ENDS ---------- */


/* -------- SERVICES SECTION ---------- */

/* #services {
    height: 100vh;
    width: 100%;
    padding: 50px;
} */

.services__wrapper {
    display: flex;
    border-radius: 30px;
    background-color: rgb(var(--color-fondo));
    height: auto;
    border: 1px solid rgb(var(--color-fondo-oscuro));
}

.services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: 1px solid rgb(var(--color-fondo-oscuro));
}
/* -------- SERVICES ENDS ---------- */