@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* -------- NAVBAR SECTION ---------- */
.navbar {
    background-color: rgb(var(--color-oscuro));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 8.5vh;
    container-name: navbar;
    container-type: normal;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    /* position: fixed;
    width: 100%;
    background: rgba(13, 38, 70, 0.6); /* tu color oscuro */
    /* backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.08); */ 
}

.navbar__logo {
    height: 100%;
    aspect-ratio: 2 /1;
    object-fit: cover;
    width: auto;
}

.nav__list {
    height: 8.5vh;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 50px;
}

.nav__list_item {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 3px solid transparent;
}

.nav__list_item:not(:has(.nav__user_info)):hover {
    border-bottom: 3px solid rgb(var(--color-blanco));
}

.nav__link {
    text-decoration: none;
    color: rgb(var(--color-blanco));
    font-size: 1.2rem;
}

.navbar__toggle {
    display: none;
}

.nav__user_info  {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 15px;
    border-radius: 40px;
    background-color: rgb(var(--color-acento-azul));
    outline: none;
    border: none;
    box-shadow: 6px 8px 10px #0006;
    transition: opacity 0.3s ease-in-out;
}

.nav__user_info:hover {
    opacity: 70%;
    border-bottom: none;
}
.nav__img_perfil {
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    object-fit: contain;
}

.nav__username {
    font-size: 1.2rem;
    color: rgb(var(--color-blanco));
    font-family: inherit;
}

/* -------- NAVBAR ENDS ---------- */

/* -------- DROPDOWN SECTION ---------- */

.nav__user_dropdown {
    display: none;
}
/* -------- DROPDOWN ENDS ---------- */

/* -------- HERO SECTION ---------- */

#hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

#hero__canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.hero__wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title, .hero__subtitle, .hero__button {
    color: rgb(var(--color-blanco));
    text-align: center;
}

.hero__title {
    font-size: 4rem;
    text-wrap: balance;
    font-size: clamp(2.5rem, 5vw, 4rem);
    max-width: 700px;
    line-height: 1.1;
    font-weight: 400;
}

.hero__title--segunda-linea {
    font-weight: 800;
}

.hero__title span {
    color: rgb(var(--color-acento-verde));
}

.hero__subtitle {
    font-size: 1em;
    text-wrap: balance;
    /* width: 56%; */
    max-width: 500px;
    opacity: 0.85;
    margin-top: 1rem;
}

.hero__button {
    margin-top: 25px;
    text-decoration: none;
    padding: 13px 20px;
    outline: 2px solid rgb(var(--color-blanco));
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s;
}

.hero__button:active {
    transform: scale(0.95);
}

.hero__button:hover {
    transform: translateY(-2px);
    background-color: rgba(255,255,255,0.1);
}
/* -------- HERO ENDS ---------- */

/* -------- REUTILIZABLE SECTION ---------- */

main section {
    padding: 30px;
    height: 100vh;
}
.section-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 10px;
}

.section-header__intro {
    color: rgb(var(--color-acento-azul));
    font-size: 1.2em;
}

.section-header__title {
    font-size: 2.4em;
}

.section-header__title > span {
    color: rgb(var(--color-acento-azul));
}

.section-header__description {
    font-size: 0.9em;
    color: rgb(var(--color-texto));
}


/* -------- REUTILIZABLE ENDS ---------- */


/* -------- SOLUTION SECTION ---------- */

#solution {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.solution__content {
    flex-grow: 0.2;
    display: grid;
    gap: 30px;
    max-height: 90vh;
    width: 90%;
    grid-template-columns: 1.2fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.solution__video {
    background-color: black;
    width: 90%;
    aspect-ratio: 1.2 / 1;
}

.solution__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.solution-card {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 20px;
    border: 1px solid rgb(var(--color-fondo-oscuro));
}

.solution-card__title {
    color: rgb(var(--color-acento-azul));
    font-size: 1.7em;
    font-weight: 600;
}

.solution-card__description {
    color: rgb(var(--color-texto));
}

.solution-card--conclusion {
    background-color: rgba(var(--color-acento-verde), 0.1);
    border: 1px solid rgb(var(--color-acento-verde));
}

.solution-card--conclusion > .solution-card__title {
    color: color-mix(in srgb, rgb(var(--color-acento-verde)) 60%, black);;
}

/* -------- SOLUTION ENDS ---------- */