@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(var(--color-fondo));
}

p {
    color: rgb(var(--color-texto));
}
:root {
    --color-primario: 27, 79, 114;
    --color-oscuro: 13, 36, 70;
    --color-texto: 52, 73, 94;
    --color-acento-azul: 2, 128, 144;
    --color-acento-verde: 82, 183, 136;
    --color-claro: 169, 204, 227;
    --color-fondo: 247, 249, 252;
    --color-fondo-oscuro: 233, 238, 244;
    --color-blanco: 243, 243, 243;
    --color-gris-claro: 220, 226, 235;
}

.icon {
    width: 32px;
    aspect-ratio: 1;
    color: rgb(var(--color-oscuro));
}