<button class="navbar__toggle" aria-label="Abrir el menú de navegación">E</button>
<img src="./Assets/logoimg2.png" alt="Logo de Hardoquin Connect" class="navbar__logo" width="50px" height="50px">
<nav class="navbar__nav">
    <ul class="nav__list">
        <li class="nav__list_item nav__list_item--active">
            <a href="#" class="nav__link">Inicio</a>
        </li>
        <li class="nav__list_item">
            <a href="#" class="nav__link">Simulaciones</a>
        </li>
        <li class="nav__list_item">
            <a href="#" class="nav__link">Tablón</a>
        </li>
        <li class="nav__list_item nav__list_item--user-info">
            <button class="nav__user">
                <img src="./Assets/ImagenesPerfil/usuarioimg0.png" alt="Imagen de Foto de Perfil del Usuario" class="nav__user_img-perfil">
                <strong class="nav__user-name">Username</strong>
                <i data-lucide="chevron-down" class="nav__user-icon"></i>
            </button>
            <div class="nav__user_dropdown">
                <div class="nav__dropdown-info">
                    <img src="./Assets/ImagenesPerfil/usuarioimg0.png" alt="Imagen de Foto de Perfil del Usuario" class="nav__dropdown-img">
                    <strong class="nav__dropdown-username">Username</strong>
                    <p class="nav__dropdown-email">Correo</p>
                </div>
                <div class="nav__dropdown_actions nav__dropdown_actions--auth">
                    <a href="#" class="nav__dropdown_action" id="action-galery">
                        <i data-lucide="layout-dashboard"></i>
                        <strong class="dropdown__action_name">Mi Galería</strong>
                    </a>
                    <a href="#" class="nav__dropdown_action" id="action-galery">
                        <i data-lucide="user"></i>
                        <strong class="dropdown__action_name">Mi Perfil</strong>
                    </a>
                </div>
                <div class="nav__dropdown_actions nav__dropdown_actions--session">
                    <button class="nav__dropdown_action" id="action-log-out">
                        <i data-lucide="log-out"></i>
                        <strong class="dropdown__action_name">Cerrar Sesión</strong>
                    </button>
                    <a href="./Pages/sesionusuario.html" class="nav__dropdown_action" id="action-log-in">
                        <i data-lucide="log-in"></i>
                        <strong class="dropdown__action_name">Log In / Registrar</strong>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</nav>